@font-face {
  font-family: "MotiveBold";
  src: url(/fonts/MOTIVEPro-Bold.ttf);
}

@font-face {
  font-family: "MotiveTitle";
  src: url(/fonts/AmericanCaptain.ttf)
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
}

body {
  animation: colours 21s linear infinite;
}

body:after,
body:before {
  content: '';
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  width: 100vmax;
  height: 100vmax;
  background: rgba(0, 0, 0, 0.05);
  animation: backgroundBoxes 90s linear infinite;
}

body:after {
  left: 15vw;
}

body:before {
  right: 15vw;
  animation-delay: -30s;
  animation-direction: reverse;
}

@keyframes colours {
  0% {
    background: #74c390;
  }

  16% {
    background: #5dbdb6;
  }

  33% {
    background: #59d4e1;
  }

  50% {
    background: #51bce8;
  }

  66% {
    background: #fa5374;
  }

  83% {
    background: #e46653;
  }

  100% {
    background: #74c390;
  }
}

@keyframes backgroundBoxes {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: grey;
}

* {
  box-sizing: border-box;
}

label {
  font-size: 4rem;
  display: none;
}

::placeholder {
  color: black;
}

button:hover:enabled {
  background-color: rgba(173, 216, 230, 0.568);
}

button:hover:disabled {
  cursor: not-allowed;
}