@font-face {
  font-family: "MotiveBold";
  src: url(/fonts/MOTIVEPro-Bold.ttf);
}

@font-face {
  font-family: "MotiveTitle";
  src: url(/fonts/AmericanCaptain.ttf)
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

label {
  font-size: 4rem;
  display: none;
}

::placeholder {
  color: black;
}